/* Header styles */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5rem;
}

.logo-a {
    height: 100%;
}

.logo {
    max-height: 5rem;
}

.header-prof {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 50%;
}

.nav-table {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-transform: uppercase;
}

.nav-li {
    list-style-type: none;
    position: relative; /* Needed for positioning nav-dropdown */
    cursor: pointer;
    margin: 0 10px;
    white-space: nowrap;
}

.nav-li-a {
    display: inline-block;
    position: relative; /* Needed for the pseudo-element positioning */
    cursor: pointer;
}

.nav-logo {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.nav-li-a::before {
    content: ''; /* This is needed to create the pseudo-element */
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: #fff; /* Use background-color instead of color */
    transition: width ease 0.4s; /* Specify which property to transition */
    position: absolute;
    top: 28px;
    left: 0;
}

.nav-li-a:hover::before {
    width: 100%;
}

/* nav-DropDown styles */

.nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 4;
}

.nav-dropdown-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.drop-ul{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    margin: 0 10px;
}
.drop-ul-a{
    border-bottom: 1px #000 solid;
    color: #000;
}
.drop-li{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}

.nav-dropdown-menu li {
    padding: 8px 10px;
}

.nav-dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.nav-dropdown-menu li a:hover {
    background-color: #f1f1f1;
}
.nav-drop{
    display: none;
}
.nav-dropDown {
    width: 100%;
    background-color: #000;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: -100%;
    top: 100%;
    opacity: 0;
    height: fit-content;
    overflow: hidden;
    height: 0;
}

.nav-dropDown.navActive {
    opacity: 1;
    z-index: 4;
    height: fit-content;
}

.nav-dropUl{
    margin: 0 20px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.nav-dropUl li{
    padding: 10px;
    border-bottom: #fff solid 1px;
}
