/* order page */
.colums-cont{
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    color: #000000;
}
.colums-div{
    position: relative;
    padding: 30px 0 30px 0;
}
.colums-div h1{
    margin: 20px 50px;
    text-transform: capitalize;
}
.colums-row{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.colums-row-div{
    display: flex;
    position: relative;
    justify-content: flex-start;
    transition: transform ease .4s;
}
.row-div{
    display: flex;
    min-width: 400px;
    height: 560px;
    margin: 30px;
    text-align: center;
    transition: all ease-in-out .2s;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0 #dddddd;
}
.row-div:hover{
   box-shadow:  0 0 10px #dddddd ;
}
.row-img{
    height: 80%;
}
.row-img img{
    height: -webkit-fill-available;
}
.row-div span{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.row-div span:hover{
    text-decoration: underline;
}
.row-div a{
    color: #000000;
}